.toolbarbutton-menu-dropmarker{
	padding: 0!important;
}
.groupbox-body{
	padding: 5px 5px 5px 5px;
	border: none;
	background-image: none;
}
.groupbox-title{
	padding-left: 5px;
}
.tabs-left,.tabs-right{
	-moz-box-flex: 0!important;
}
treecols.main treecol, treecols.main treecolpicker{
	margin-top: 10px!important;
}
treecols.main-navigation treecol, treecols.main-navigation treecolpicker{
	margin-top: 2px!important;
}
.form-header{
	-moz-appearance: none!important;
	border: none!important;
	border-bottom: 1px solid #999!important;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x!important;
	color: #666!important;
	padding: 3px;
	margin: 0px;
}
.form-header label{
	font-size: 12pt;
	font-weight: bold;
}
[validating][validates=true]{
	padding-left: 14px;
	background: url(/changeicons/small/gear_time.png) center left no-repeat;
}
[validating][validates=false]{
	padding-left: 14px;
	background: url(/changeicons/small/gear_time.png) center left no-repeat;
}
tab[validates=false]{
	background: none;
	color: red;
}
[focused=true][validates=false]{
	padding-left: 14px;
	background: url(/changeicons/small/warning.png) center left no-repeat;
}
[focused=true][validates=true]{
	padding-left: 14px;
}
[focused=true][validating]{
	padding-left: 14px;
	background: url(/changeicons/small/gear_time.png) center left no-repeat;
}
[focused][show-indicator=false]{
	padding-left: 0px;
	background: none;
}
vbox#pageEditorContainer{
	margin: 8px 0 8px 0!important;
	border: 1px solid #CCC!important;
	background-color: white!important;
}
vbox#container,window>vbox{
	-moz-appearance: window!important;
	background-image: url(/media/backoffice/contentbg.gif) !important;
	background-position: top left!important;
	background-repeat: repeat-x!important;
}
wtree treechildren::-moz-tree-row{
	background-color: #ffffff;
	border: none;
	outline: none;
}
wtree treechildren::-moz-tree-row(current){
	background-color: #d0d0f0;
	border: none;
	outline: none;
}
wtree treechildren::-moz-tree-row(disabled){
	background-color: #ffffff;
	border: none;
	outline: none;
}
wlist treechildren::-moz-tree-row(even),tree.evenodd treechildren::-moz-tree-row(even),wsearchresults treechildren::-moz-tree-row(even){
	background-color: #ffffff;
}
wlist treechildren::-moz-tree-row(odd),tree.evenodd treechildren::-moz-tree-row(odd),wsearchresults treechildren::-moz-tree-row(odd){
	background-color: #ebebeb;
}
wlist treechildren::-moz-tree-row(even, selected),tree.evenodd treechildren::-moz-tree-row(even, selected),wsearchresults treechildren::-moz-tree-row(even, selected){
	background-color: #d0d0f0;
}
wlist treechildren::-moz-tree-row(odd, selected),tree.evenodd treechildren::-moz-tree-row(odd, selected),wsearchresults treechildren::-moz-tree-row(odd, selected){
	background-color: #c0c0e0;
}
wform{
	-moz-box-flex: 0!important;
	padding: 0!important;
	margin: 0!important;
}
wform>vbox{
	-moz-box-flex: 1!important;
	background-color: #fff!important;
	border: none!important;
}
wform>vbox tabpanel{
	-moz-box-flex: 1!important;
	overflow: auto!important;
	background-color: #fff!important;
	border: none!important;
	padding-top: 5px!important;
}
wform>vbox>grid{
	overflow: auto!important;
	padding-top: 4px!important;
}
wform[validates=true]{
	padding-left: 0px;
}
wform[validates=false]{
	padding-left: 0px;
	background: none;
}
wcheckbox[validates=true]{
	padding-left: 0px;
}
wcheckbox[validates=false]{
	padding-left: 0px;
	background: none;
	color: red;
}
wwizard[validates=true]{
	padding-left: 0px;
}
wwizard[validates=false]{
	padding-left: 0px;
	background: none;
}
wsuggestionbutton{
	margin: 0px 0px 0px -4px;
}
.suggestionInputField{
	-moz-appearance: none!important;
	margin: 1px 4px 1px 0px;
	width: 28px;
	height: 23px;
	border: 1px solid #a5acb2;
	border-right: 1px solid #a5acb2!important;
	border-left: 0;
	background: url(/changeicons/small/light-bulb.png) #efefef center left no-repeat!important;
}
.suggestionInputFieldForCombo{
	height: 24px;
}
.suggestionInputFieldForDatePicker{
	margin: 2px 0 2px -4px;
}
welementpicker[disabled="true"] listbox{
	-moz-appearance: none!important;
	border: 1px solid #A5ACB2!important;
	background: #EBEBE4!important;
}
.suggestionPannel{
	height: 64px;
	margin: 0px;
	color: black;
	background-color: #fff;
}
.suggestionTitle{
	-moz-appearance: none!important;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x!important;
	color: #666!important;
}
.suggestionLabel{
	font-size: 12pt;
	font-weight: bold;
}
.suggestionPannel textbox{
	font-family: Courier New, Courier, Sans-serif;
	background-color: #fff;
}
.usernameMenuLabel{
	color: #EE0000!important;
	font-weight: bold;
	font-size: 12px!important;
}
.usernameMenuButton{
	-moz-appearance: none!important;
	font-weight: bold;
}

wcolorpicker,wsizebox{
	padding-left: 14px;
}
[validates=true]{
	padding-left: 14px;
}
[validates=false]{
	padding-left: 14px;
	background: url(/changeicons/small/warning.png) center left no-repeat;
}
[validates][show-indicator=false]{
	padding-left: 0px;
	background: none;
}
vbox.panel{
	border: 1px outset -moz-dialog;
}
grid.preview column:first-child{
	background: silver;
}
grid.preview row>label:first-child{
	font-weight: bold;
}
grid.preview row{
	border-bottom: 1px solid silver;
}
wtoolbar toolbarbutton label{
	font-size: 8pt;
	color: inherit;
	font-weight: inherit;
}
wtoolbar menulistl{
	font-size: 8pt;
	color: black;
	font-weight: normal;
}
description.resourceTreeMessage{
	font-size: 10pt;
	color: black;
}
menuitem.notificationsMenu{
	background: lemonchiffon!important;
	color: darkred!important;
}
arrowscrollbox.elementPickerModules{
	background-color: white;
	border-right: 1px solid #444444;
}
description.elementPickerPopupTitle{
	font-size: 12pt;
	font-weight: bold;
}
.color-button{
	border: 1px inset ThreeDFace;
	padding: 0px;
	width: 14px;
	height: 12px;
	margin: 2px;
}
.color-button:not([disabled]):hover{
	border: 1px solid ThreeDDarkShadow;
}
#TextColorButton{
	margin: 2px 9px 9px 2px;
	background: black;
}
#BackgroundColorButton{
	margin: 9px 2px 2px 9px;
	background: white;
}
vbox.richTextBlock{
	margin: 5px 5px 5px 5px;
}
vbox[preview="true"].richTextBlock{
	margin: 0px 0px 0px 0px;
}
menuitem.richTextSymbol{
	text-align: center;
	font-size: 12px;
}
menuitem.richTextSymbol:hover{
	background-color: ThreeDFace;
}
vbox.richTextForm{
	background-color: white;
	min-width: 320px!important;
	padding: 2px 2px 2px 3px;
}
.richtext-form-box{
	border: 1px solid #a5acb2;
	margin-left: 4px;
}
.stepLabel{
	margin-top: 6px;
	font-weight: bold;
}
menulist.tree-filter,menulist.url-input{
	height: 22px!important;
}
menulist.tree-filter input{
	background: url(/changeicons/small/view.png) transparent no-repeat -1px -1px;
	padding: 0px 0px 0px 18px!important;
	-moz-appearance: none!important;
	font: icon!important;
	height: 22px!important;
	width: 182px!important;
	border: none!important;
	margin: 0!important;
}
menulist.url-input input{
	background: url(/changeicons/small/earth.png) transparent no-repeat -1px -1px;
	padding: 0px 0px 0px 18px!important;
	-moz-appearance: none!important;
	font: icon!important;
	height: 22px!important;
	border: none!important;
	margin: 0!important;
}
menulist.tree-language label{
	background: url(/changeicons/small/environment.png) transparent center left no-repeat;
	padding: 0px 0px 0px 18px!important;
	margin-left: -2px!important;
}
.formErrorPanel{
	border: 1px solid #ffeeee;
	color: red;
	background: url(/changeicons/small/error.png) #fff no-repeat 3px 3px;
	padding: 3px 3px 3px 18px;
}
.formWarningPanel{
	border: 1px solid #eeeecc;
	color: darkorange;
	background: url(/changeicons/small/warning.png) #fff no-repeat 3px 3px;
	padding: 3px 3px 3px 18px;
}
.formErrorPanel description,.formWarningPanel description{
	text-indent: 16px;
}
wformhelppanel{
	padding: 5px;
	background-color: #fff!important;
	border: none!important;
}
wcheckbox[focused=true]{
	padding-left: 0px;
}
wcheckbox[focused=false]{
	padding-left: 0px;
}
wcheckbox[validates=true]{
	padding-left: 0px;
}
wcheckbox[validates=false]{
	padding-left: 0px;
}
wlabel.required{
	color: #0066ff;
	font-weight: bold;
}
.change-toolbar-empty{
	-moz-appearance: none!important;
	border: none!important;
	background: #fff!important;
}
.change-toolbar-richtext{
	-moz-appearance: none!important;
	border: none!important;
	background: transparent!important;
}
.form-panel-warning{
	background: url(/changeicons/huge/shadow/stop.png) center left no-repeat!important;
}
whelp,wlistitem,constraint{
	display: none!important;
}
wforms toolbarbutton[anonid="saveButton"].active label,wforms  toolbarbutton[anonid="saveAllButton"].active label{
	font-weight: bold!important;
}
wforms menuitem.modified label,wforms menu.modified>label{
	font-weight: bold!important;
}
wwizardpanel behaviour{
	display: none;
}

.blockList{
	background: #fff;
}
.blockList toolbox{
	-moz-appearance: none!important;
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	padding: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.blockList deck row>*{
	border-right: 1px dotted silver;
	border-bottom: 1px dotted silver;
}
.blockList deck row>*:nth-child(4){
	border-right: none;
}
.blockList deck scrollbox{
	max-height: 60px;
	overflow: auto;
}

#notification_area_box{
	border-top: 1px solid #666;
	background-color: #ccc!important;
}
#notification_area{
	height: 22px;
	padding-left: 24px;
	padding-top: 4px;
	color: black;
	background-image: none;
	background-position: 4px 3px;
	background-repeat: no-repeat;
	margin: 0px;
}
#notification_area.error{
	background-image: url(/changeicons/small/error.png) ;
}
#notification_area.ok{
	background-image: url(/changeicons/small/check.png) ;
}
#notification_area.info{
	background-image: url(/changeicons/small/information.png) ;
}
.warningArea{
	height: 21px;
	padding-left: 20px;
	padding-top: 0px;
	color: darkred;
	margin: 0px;
	border: 1px solid red;
	background-color: #ffffdd;
	background-image: url(/changeicons/small/warning.png) ;
	background-position: center left;
	background-repeat: no-repeat;
}