<form class="cmxform" method="get" tal:attributes="action formAction">
<p>
	<label class="hidden" for="solrsearch" change:translate="modules.solrsearch.frontoffice.Search-inputlabel"></label>
	<input class="textfield" type="text" id="solrsearch" tal:attributes="name termsParameterName; value terms" change:i18nattr="empty &modules.solrsearch.frontoffice.Search-button-title;"/>
	<input class="button" type="submit" name="submit" change:i18nattr="value &modules.solrsearch.frontoffice.Search-button-ok;"/>
</p>
</form>
